absl-py==0.1.10
aioamqp==0.10.0
aiohttp==2.3.3
aiohttp-jinja2==0.14.0
aiomysql==0.0.9
alembic==0.9.6
analytics==0.6.5
apturl==0.5.2
arrow==0.12.1
astor==0.6.2
async-timeout==2.0.0
beautifulsoup4==4.4.1
bleach==1.5.0
blinker==1.3
Brlapi==0.6.4
certifi==2017.11.5
cffi==1.11.5
chardet==3.0.4
checkbox-support==0.22
command-not-found==0.3
cryptography==1.2.3
cycler==0.10.0
decorator==4.1.2
defer==1.0.6
docopt==0.6.2
entrypoints==0.2.3
feedparser==5.1.3
gast==0.2.0
gdata==3.0.0
gdbn==0.1
gnumpy==0.2
grpcio==1.10.0
guacamole==0.9.2
gunicorn==19.7.1
h5py==2.7.1
html5lib==0.9999999
httplib2==0.9.1
idna==2.6
ipykernel==4.6.1
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.0.3
jedi==0.11.0
Jinja2==2.10
joblib==0.11
jpeg4py==0.1.4
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.4.0
Keras==2.1.4
language-selector==0.1
louis==2.6.4
lxml==4.6.2
Mako==1.0.7
Markdown==2.6.11
MarkupSafe==1.0
marshmallow==2.15.0
marshmallow-oneofschema==1.0.5
matplotlib==2.1.1
mistune==0.8
multidict==3.3.2
mysqlclient==1.3.12
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.1
nolearn==0.4
notebook==5.5.0
numpy==1.14.1
nydus==0.11.0
oauthlib==1.0.3
olefile==0.44
onboard==1.2.0
opencv-python==3.4.0.12
padme==1.1.1
pandas==0.22.0
pandocfilters==1.4.2
parso==0.1.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.3.0
Pillow-PIL==0.1.dev0
plainbox==0.25
plotly==2.2.3
prompt-toolkit==1.0.15
protobuf==3.5.1
ptyprocess==0.5.2
pyasn1==0.1.9
pycparser==2.18
pycups==1.9.73
pycurl==7.43.0
Pygments==2.2.0
pygobject==3.20.0
PyJWT==1.3.0
PyMySQL==0.7.11
pyparsing==2.2.0
PyQt5==5.10.1
pyTelegramBotAPI==3.5.1
python-apt==1.1.0b1
python-dateutil==2.7.2
python-debian==0.1.27
python-editor==1.0.3
python-systemd==231
pytz==2017.3
PyWavelets==0.5.2
pyxdg==0.25
PyYAML==3.12
pyzmq==16.0.3
qtconsole==4.3.1
redis==2.10.6
reportlab==3.3.0
requests==2.18.4
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.0.0
seaborn==0.8.1
sessioninstaller==0.0.0
simple-settings==0.12.0
simplegeneric==0.8.1
sip==4.19.8
six==1.11.0
SQLAlchemy==1.1.15
system-service==0.3
tensorboard==1.6.0
tensorflow==1.6.0
termcolor==1.1.0
terminado==0.6
testpath==0.3.1
tlslite==0.4.9
tornado==4.5.2
tqdm==4.19.6
traitlets==4.3.2
ubuntu-drivers-common==0.0.0
ufw==0.35
unattended-upgrades==0.1
unity-scope-calculator==0.1
unity-scope-chromiumbookmarks==0.1
unity-scope-colourlovers==0.1
unity-scope-devhelp==0.1
unity-scope-firefoxbookmarks==0.1
unity-scope-gdrive==0.7
unity-scope-manpages==0.1
unity-scope-openclipart==0.1
unity-scope-texdoc==0.1
unity-scope-tomboy==0.1
unity-scope-virtualbox==0.1
unity-scope-yelp==0.1
unity-scope-zotero==0.1
urllib3==1.22
usb-creator==0.3.0
uvloop==0.8.1
watermark==1.6.0
wcwidth==0.1.7
webargs==1.8.1
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.0.6
xdiagnose==3.8.4.1
xgboost==0.7.post4
xkit==0.0.0
XlsxWriter==0.7.3
yarl==0.14.2
